{
    "printWidth": 100,
    "semi": true,
    "trailingComma": "all",
    "arrowParens": "avoid",
    "endOfLine": "auto",
    "singleQuote": true,
    "tabWidth": 2,
    "singleAttributePerLine": true
}